<p class="mb-1">
  PayU is the only payments solution in India that allows businesses to accept, process and disburse payments with its product suite.
</p>

<div class="d-flex align-items-center">
  <%= payment_method_icon_tag 'google_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'amazon', class: 'm-1' %>
  <%= payment_method_icon_tag 'upi', class: 'm-1' %>
  <%= payment_method_icon_tag 'rupay', class: 'm-1' %>
  <%= payment_method_icon_tag 'paytm', class: 'm-1' %>
  <%= payment_method_icon_tag 'payzapp', class: 'm-1' %>
</div>